p{
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
button{
  display: block;
}
.friend_image{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-fit: cover;
}
div{
  margin-left: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 7.5px;
}
.friend_profile{
  margin-left: 10px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  display: inline-block;
  border-radius: 0px;
}
.mutual_friends{
  padding-top: 3px;
  font-weight: lighter;
  vertical-align: top;
  margin-left: 0px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  display: inline-block;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left:2px;
}
.profile{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}
.name{
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.add_friend{
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: none;
  background-color: rgb(76, 124, 220);
  color: white;
  cursor: pointer;
}
.add_friend:hover{
  opacity: 0.75;
}
.add_friend:active{
  opacity: 0.5;
}
.jasper_button{
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: none;
  background-color: rgba(76, 124, 220, 0.5);
  color: white;
}
.jasper_text{
  margin-left: 10px;
}
